{
  "files": [{
      "pattern": "libs-snapshot-local/org/zowe/1.5.0-PR-729/zowe-1.5.0-pr-729-1-20190917192846.pax",
      "target": ".pax/",
      "flat": "true",
       "sortBy": ["created"],
      "sortOrder": "desc",
      "limit": 1
    },
    {
      "pattern": "libs-release-local/org/zowe/1.4.0/zowe-cli-package-1.4.0.zip",
      "target": ".pax/",
      "flat": "true",
      "sortBy": ["created"],
      "sortOrder": "desc",
      "limit": 1
    }
  ]
}
