{
  "files": [{
      "pattern": "libs-snapshot-local/org/zowe/1.5.0-STAGING/zowe-*.pax",
      "target": ".pax/",
      "flat": "true",
       "sortBy": ["created"],
      "sortOrder": "desc",
      "limit": 1
    }
  ]
}
